/*
    You can add your own custom styles here.
*/

@import url("https://fontsapi.zeoseven.com/2/main/result.css");

:root {
    --base-font-family: "LXGW ZhenKai GB";
}

.article-content {
    font-size: 1.28em;
}

.article-content p {
    margin: 1em;
}

.article-content pre {
    display: block;
    white-space: pre;
    margin: 1em 0;
    font-size: 0.85em;
}
