/*
    You can add your own custom styles here.
*/

@font-face {
    font-family: "TsangerJinKai";
    src: local("TsangerJinKai"), local("仓耳今楷"),
        url("https://cdn.jsdelivr.net/npm/kangcdn@1.0.6/%E4%BB%93%E8%80%B3%E4%BB%8A%E6%A5%B7.ttf")
            format("truetype");
    font-display: swap;
}

:root {
    --base-font-family: "TsangerJinKai", "TsangerJinKai02", "TsangerJinKai03",
        "Tsanger JinKai", "仓耳今楷", "仓耳今楷02", "仓耳今楷03", Charter,
        "Charter BT", "Iowan Old Style", "Palatino Linotype", "Book Antiqua",
        "Noto Serif SC", "Source Han Serif SC", "Songti SC", STSong, Georgia,
        serif;
}

.article-content {
    font-size: 1.28em;
}

.article-content p {
    margin: 1em;
}

.article-content pre {
    display: block;
    white-space: pre;
    margin: 1em 0;
    font-size: 0.85em;
}
