/*
    You can add your own custom styles here.
*/

@font-face {
    font-family: "TsangerJinKai02";
    src: local("TsangerJinKai02"), local("仓耳今楷02"),
        url("https://cdn.jsdelivr.net/gh/tw93/kami@main/assets/fonts/TsangerJinKai02-W04.ttf")
            format("truetype");
    font-weight: 400 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --base-font-family: "TsangerJinKai02", "TsangerJinKai03", "Tsanger JinKai",
        "TsangerJinKai", "仓耳今楷02", "仓耳今楷03", "仓耳今楷", Charter,
        "Charter BT", "Iowan Old Style", "Palatino Linotype", "Book Antiqua",
        "Noto Serif SC", "Source Han Serif SC", "Songti SC", STSong, Georgia,
        serif;
}

.article-content {
    font-size: 1.28em;
}

.article-content p {
    margin: 1em;
}

.article-content pre {
    display: block;
    white-space: pre;
    margin: 1em 0;
    font-size: 0.85em;
}
