// you can change colors here
$theme-color: #8c61ff;
$font-family: '"LXGW WenKai", Recursive, "PingFang SC"';
$font-family-heading: '"LXGW WenKai", Recursive, "PingFang SC"';
$font-family-mono: 'Recursive, Consolas';